<section class="partner">
  <div class="partner-wrapper">
      <div class="container">
          <h2 class="section-title">Đối tác nói về chúng tôi</h2>
          <div class="partner-slide">
              <div class="swiper-container partner">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="partner-item">
                              <p>Tôi hài lòng với chất lượng thi công của Nhà thầu. Chỉ lưu ý là chủ đầu tư nên chọn các nhà thầu được đánh giá tốt trên Sàn.</p>
                              <div class="profile">
                                  <img src="./assets/images/anh-doi-tac.png" alt="">
                                  <div class="icon-box">
                                      <h3 class="name">Pedro Ibanez</h3>
                                      <span class="position">UI Designer at Google</span>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="swiper-slide">
                          <div class="partner-item">
                              <p>Tôi hài lòng với chất lượng thi công của Nhà thầu. Chỉ lưu ý là chủ đầu tư nên chọn các nhà thầu được đánh giá tốt trên Sàn.</p>
                              <div class="profile">
                                  <img src="./assets/images/anh-doi-tac-2.png" alt="">
                                  <div class="icon-box">
                                      <h3 class="name">Pedro Ibanez</h3>
                                      <span class="position">UI Designer at Google</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="partner-item">
                              <p>Tôi hài lòng với chất lượng thi công của Nhà thầu. Chỉ lưu ý là chủ đầu tư nên chọn các nhà thầu được đánh giá tốt trên Sàn.</p>
                              <div class="profile">
                                  <img src="./assets/images/anh-doi-tac-3.png" alt="">
                                  <div class="icon-box">
                                      <h3 class="name">Pedro Ibanez</h3>
                                      <span class="position">UI Designer at Google</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="partner-item">
                              <p>Tôi hài lòng với chất lượng thi công của Nhà thầu. Chỉ lưu ý là chủ đầu tư nên chọn các nhà thầu được đánh giá tốt trên Sàn.</p>
                              <div class="profile">
                                  <img src="./assets/images/anh-doi-tac-2.png" alt="">
                                  <div class="icon-box">
                                      <h3 class="name">Pedro Ibanez</h3>
                                      <span class="position">UI Designer at Google</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-button-next partner-next">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
              </div>
              <div class="swiper-button-prev partner-prev">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
              </div>
          </div>
      </div>
  </div>
</section>