<div class="widget-sidebar">
    <h2 class="widget-title">Lĩnh vực</h2>
    <div class="all"><a href="#">Tất cả</a></div>

    <div class="cat-item">
        <div class="cat-title d-flex align-items-center">
            <a href="#">
                <h3>Lĩnh vực 01</h3>
            </a>
            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
        </div>
        <div class="cat-child">
            <ul>
                <li>Khảo sát địa kỹ thuật xây dựng</li>
            </ul>
        </div>
    </div>

    <div class="cat-item">
        <div class="cat-title d-flex align-items-center">
            <a href="#">
                <h3>Lĩnh vực 02</h3>
            </a>
            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
        </div>
        <div class="cat-child">
            <ul>
                <li>Khảo sát địa hình và CSDL không gian</li>
            </ul>
        </div>
    </div>
    <div class="cat-item">
        <div class="cat-title d-flex align-items-center">
            <a href="#">
                <h3>Lĩnh vực 03</h3>
            </a>
            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
        </div>
        <div class="cat-child">
            <ul>
                <li>Tư vấn thiết kế Địa kỹ thuật và Công trình</li>
            </ul>
        </div>
    </div>
</div>