<div class="col-lg-12 mt-1" style="border-top:3px solid rgba(0, 168, 89, 1);"></div>
<section class="home-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-justify">
        <h2 class="py-2">Giới thiệu</h2>
        <p class="p-intro">{{_cmsNews.subject}}<br><b>Lĩnh vực hoạt động:</b></p>
          <app-operation-intro></app-operation-intro>
        <!--p class="p-intro">Với sứ mệnh tập hợp công nghệ hiện đại thông qua lực lượng nhân lực chủ chốt, được đào tạo ở
          các quốc gia phát triển như Châu Âu, Bắc Mỹ, Nhật Bản, Hàn Quốc, vv. AGEO luôn xác định được thế mạnh và từng
          bước nỗ lực trở thành đơn vị hàng đầu trong lĩnh vực tư vấn và chuyển giao công nghệ mới về kỹ thuật công
          trình tiên tiến. Sự kết hợp giữa công nghệ - thiết bị hiện đại với nguồn nhân lực chất lượng cao - năng động,
          giữa chuyên nghiệp lành nghề với nghiên cứu phát triển; AGEO tự tin là một đối tác tin cậy mang lại sự hài
          lòng cho Quý khách hàng trong nước và quốc tế.</p-->
      </div>
      <div class="col-lg-6 align-top text-center">
        <img class="img-thumbnail mb-3" alt="Giới thiệu AGEO" [src]="_cmsNews.imageUrl" style="width:100%" />
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-12 text-center"><a class="btn_more" href="/News/{{_cmsNews.id}}">Xem thêm</a></div>
    </div>
  </div>
</section>