<section>
    <div class="operation">
        <div class="container">
            <div class="block-wapper">
                <div class="operation-icon">
                    <div class="icon-slide">
                        <swiper [config]="config" style="padding-bottom:30px">
                            <ng-template swiperSlide>
                                <div class="icon-image">
                                    <img src="./assets/images/Operations/DiaKyThuat.png" alt="">
                                    <span>Địa kỹ thuật</span>
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="icon-image">
                                    <img src="./assets/images/Operations/DiaHinh.png" alt="">
                                    <span>Địa hình</span>
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="icon-image">
                                    <img src="./assets/images/Operations/DiaChatThuyVan.png" alt="">
                                    <span>Địa chất thủy văn</span>
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="icon-image"><img src="./assets/images/Operations/QuanTrac.png" alt="">
                                    <span>Quan trắc</span>
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="icon-image"><img src="./assets/images/Operations/ThiNghiem.png" alt="">
                                    <span>Thí nghiệm <br>& kiểm định</span>
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="icon-image"><img src="./assets/images/Operations/RND.png" alt="">
                                    <span>Nghiên cứu <br>& phát triển</span>
                                </div>
                            </ng-template>
                        </swiper>
                    </div>
                    <!-- Add Pagination -->
                    <!-- <div class="swiper-button-next partner"></div>
                        <div class="swiper-button-prev partner"></div> -->
                </div>
            </div>

            <!--a href="#" class="btn btn-link">Xem thêm</a-->

        </div>
    </div>
</section>