<section class="partner-logo">
  <div class="partner-wrapper">
      <div class="container">
          <div class="partner-slide wow flipInX" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="swiper-container partner-logo">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="partner-item"><img src="./assets/images/partner/CC1.png" alt=""></div>
                      </div>
                      <div class="swiper-slide">
                          <div class="partner-item"><img src="./assets/images/partner/ECOBA.png" alt=""></div>
                      </div>
                      <div class="swiper-slide">
                          <div class="partner-item"><img src="./assets/images/partner/Flamingo.png" alt=""></div>
                      </div>
                      <div class="swiper-slide">
                          <div class="partner-item"><img src="./assets/images/partner/logo_vienKTCT.jpg" alt=""></div>
                      </div>
                      <div class="swiper-slide">
                          <div class="partner-item"><img src="./assets/images/partner/pec1.png" alt=""></div>
                      </div>
                      <div class="swiper-slide">
                          <div class="partner-item"><img src="./assets/images/partner/TLU.png" alt=""></div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>
<!-- partner-->
<!--section class="section pb-5">
  <div class="section__header">
    <div class="container">
      <h2 class="section__heading mb-0">Khách hàng & Đối tác</h2>
    </div>
  </div>
  <div class="container" id='partner'>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/Logo_PVOIL Cai Lan.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/Logo_PVOIL Ha Noi.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/Logo_PVOIL Thai Binh.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/Logo_PVOIL_SaiGon.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/Petromekong.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/Logo_PVOIL_HaiPhong.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/Logo_PVOIL_NinhBinh.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/Logo_PVOIL_PhuTho.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/Logo_PVOIL_PhuYen.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/Petrolimex.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/Hilo.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/VietCis logo.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/peco.jpg" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/NamDuong.jpg" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/HaiBinh.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a class="partner" href="#!">
          <img src="./assets/images/Partner/IBM_logo.png" alt="">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <img src="./assets/images/Partner/logo microsoft.jpg" alt="">
      </ng-template>
    </owl-carousel-o>
  </div>
</section-->
