<section>
  <div class="why-choose-us">
      <div class="container">
          <div class="block-wapper">
              <h2>Vì sao chọn chúng tôi</h2>
              <div class="why-choose-us-icon">
                  <div class="icon-slide">
                      <div class="swiper-container icon">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                  <div class="icon-image">
                                      <img src="./assets/images/icon-1.png" alt="">
                                      <span>Hồ sơ năng lực minh bạch</span>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="icon-image"><img src="./assets/images/icon-2.png" alt="">
                                      <span>Tiết kiệm tối đa chi phí</span>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="icon-image"><img src="./assets/images/icon-3.png" alt="">
                                      <span>Nhà thầu được đánh giá</span>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="icon-image"><img src="./assets/images/icon-4.png" alt="">
                                      <span>Cách mạng Công nghiệp 4.0</span>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="icon-image"><img src="./assets/images/icon-5.png" alt="">
                                      <span>Sáng tạo không ngừng</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Add Pagination -->
                      <!-- <div class="swiper-button-next partner"></div>
                      <div class="swiper-button-prev partner"></div> -->
                  </div>
              </div>

              <a href="#" class="btn btn-link">Xem thêm</a>

          </div>
      </div>
  </div>
</section>